<section class="color-{{ section.settings.color_scheme }} gradient">
  <div 
    class="banner-background section-{{ section.id }}-padding"
    style="
      {% if section.settings.afbeelding %}
        background-image: url({{ section.settings.afbeelding | image_url: width: 1600 }});
      {% endif %}
    "
  >
    <div class="banner-content page-width">
        <div class="banner-text">
            {% unless section.settings.title == blank %}
              <h1 class="banner-title">{{ section.settings.title }}</h1>
            {% endunless %}
             {% unless section.settings.title == blank %}
              <h2 class="banner-subtitle">{{ section.settings.subtitle }}</h2>
            {% endunless %}
        </div>
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="banner-button">
            {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</section>


{% style %}
.section-{{ section.id }}-padding {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -10rem;
}

.banner-background {
  position: relative;
  width: 100%;
  color: white;
}

.banner-content {
  display: flex;
  max-width: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  text-align: left;
  color: white;
  text-transform: uppercase;
  line-height: 1;
}

.banner-subtitle {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: white;
  text-transform: uppercase;
}

.banner-button {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: #ffffff;
  color: #000000;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: #e5e5e5;
}

{% endstyle %}




{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "class": "section custom-feature",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titel",
      "default": "Mijn custom component"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitel",
      "default": "Mijn custom component"
    },
    {
    "type": "text",
    "id": "button_label",
    "label": "Knoptekst",
    "default": "Bekijk meer"
    },
    {
    "type": "url",
    "id": "button_link",
    "label": "Knop link"
    },
    {
      "type": "image_picker",
      "id": "afbeelding",
      "label": "Afbeelding"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Kleurenschema",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding boven",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding onder",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
